{% extends 'base.html' %}

{% block title %}
all profiles
{% endblock title %}

{% block content %}


{% for obj in qs %}
{% if request.user in obj.friends.all %}
<div class="ui segment">
    <div class="ui grid">
        <div class="row">
            <div class="three wide column">
                <img class="ui small circular image" src={{obj.picture.url}}>
            </div>
            <div class="thirteen wide column">
                <h3>{{obj.user}}</h3>
                <p>{{obj.bio}}</p>
                <a href="{% url 'profiles:other_user'  obj.user.id %}"><button class="ui primary button mb-5 w-big">See
                        profile</button></a>
                <br>              
            </div>

        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock content %}