
{% extends 'base.html' %}

{% block title %}
my profile
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-xl-4">
            <div class="card-box text-center">
                <img src={{profile.picture.url}}
                    class="rounded-circle avatar-xl img-thumbnail" alt="profile-image">

                <h4 class="mb-0">   {{profile.first_name}} {{profile.last_name}}</h4>
                <p class="text-muted">{{profile.headline}} </p>

           
                <div class="text-left mt-3">
                    <h4 class="font-13 text-uppercase">About Me :</h4>
                    <p class="text-muted font-13 mb-3">
                        {{profile.about_us}}
                    </p>
                    <p class="text-muted mb-2 font-13"><strong>Full Name :</strong> <span class="ml-2">
                        {{profile.first_name}} {{profile.last_name}}
                    </span></p>

                    

                    <p class="text-muted mb-2 font-13"><strong>Email :</strong> <span
                            class="ml-2 ">{{user.email}}</span></p>

                    <p class="text-muted mb-1 font-13"><strong>Country :</strong> <span class="ml-2">USA</span></p>
                </div>

               
            </div> <!-- end card-box -->

            <div class="card-box">
                <h4 class="header-title">Skills</h4>
                
                {% for skill in skills %}
                <div class="list-group-item">
                    <div align='right'>
                        <!-- <form action="" method="POST" class="ui form" enctype='multipart/form-data'>
                            {% csrf_token %}
                            <button class="btn btn-success btn-sm rounded-0" id='skill-model-edit' name='id_edit' value={{skill.id}} type="submit"  title="Edit"><i class="fa fa-edit"></i></button> 
                        </form> -->
                            <!-- <button class="btn btn-success btn-sm rounded-0" name="skill_model_edit" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button> 
                            <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
              -->
                  </div>
                    <div class="mt-2 pt-1">
                        <h6 class="text-uppercase mt-0">{{skill.title}}<span class="float-right">{{skill.proficiency}}%</span></h6>
                        <div class="progress progress-sm m-0">
                            <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="{{skill.proficiency}}" aria-valuemin="0"
                                aria-valuemax="100" style="{{skill.get_str_proficiency}}">
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

             
              
              

            </div> <!-- end card-box-->

          <!-- MODAL -->
<!-- <div class="ui modal mymodal">
    <form action="" method="POST" class="ui form" enctype='multipart/form-data'>
        {% csrf_token %}
        {{form_profile.as_p}}
    <button type='submit' class="ui positive right labeled icon button"  name="profile_submit" data-backdrop="false">
      Update
      <i class="checkmark icon"></i>
    </button>
    </form>
    
  </div> -->

  
            <div class="card-box">
                <h4 class="header-title">Languages</h4>
                
           
                {% for language in languages %}
                <div class="list-group-item">
                    <!-- <div align='right'>
                        <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button> 
                        <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                    </div> -->
                      
                <div class="mt-2 pt-1">
                    <h6 class="text-uppercase mt-0">{{language.language_name}}</h6>
                    <div class="progress progress-sm m-0">
                        <div class="progress-bar bg-purple" role="progressbar" aria-valuemin="0"
                            aria-valuemax="100" style="{{language.get_str_proficiency}}">
                          
                       
                    </div>
                </div>
                </div>
                </div>
                {% endfor %}

             
              
              

            </div> <!-- end card-box-->

        </div> <!-- end col-->



        <div class="col-lg-8 col-xl-8">
            <div class="card-box">
                <ul class="nav nav-pills navtab-bg">
                    <li class="nav-item">
                        
                        <a href="#about-me" data-toggle="tab" aria-expanded="true" class="nav-link ml-0 active" style="color:rgb(250, 250, 250);">
                            <i class="mdi mdi-face-profile mr-1"></i>About Me
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#change_pane" data-toggle="tab" aria-expanded="false" class="nav-link" style="color:rgb(250, 250, 250);" >
                          Edit
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#profile_pane" data-toggle="tab" aria-expanded="false" class="nav-link" style="color:rgb(255, 255, 255);">
                            <i class="mdi mdi-settings-outline mr-1"></i>Profile Edit
                        </a>
                    </li>
                    
                </ul>

                <div class="tab-content">

                    <div class="tab-pane show active" id="about-me">
                        {% if educations%}
                        <h5 class="mb-4 text-uppercase"><i class="mdi mdi-briefcase mr-1"></i>
                            Education</h5>
                        {% endif %}
                        <ul class="list-unstyled timeline-sm">

                            <!-- <p class="text-muted mt-2">No education details entered</p> -->
                           
                              
                            {% for edu in educations %}
                            <li class="timeline-sm-item">
                              
                                <span class="timeline-sm-date">{{edu.start_date.year}} to {{edu.end_date_expected.year}}</edu></span>
                              <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">{{edu.school}}</h5>
                                    <!-- <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button> 
                                    <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button> -->
 
                                </div>
                                    <div class="card-body">
                                       
                                <p>{{edu.degree}} {{edu.field}} <br> {{edu.grade}}</p>
                                
                                <!-- <p>{{edu.grade}}</p>
                                <p>{{edu.description}}</p> -->
                                <p class="text-muted mt-2">{{edu.description}}</p>
                            </div>
                        </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% if experiences %}
                        <h5 class="mb-4 text-uppercase"><i class="mdi mdi-briefcase mr-1"></i>
                            Experience </h5>
                        
                        <ul class="list-unstyled timeline-sm">

                            <!-- <p class="text-muted mt-2">No education details entered</p> -->
                      
                            {% for experience in experiences %}
                           <li class="timeline-sm-item">
                                {% if experience.end_date == None %}
                                   <span class="timeline-sm-date">Current job <br>since {{experience.start_date.month}} / {{experience.start_date.year}} </edu></span>
                                {%else %}
                                  <span class="timeline-sm-date">{{experience.start_date.month}} / {{experience.start_date.year}} to <br> {{experience.end_date.month}} / {{experience.end_date.year}}</edu></span>
                                {% endif %}
                                 <div class="card">
                                   <div class="card-header">
                                       <h5 class="card-title">{{experience.title}} at {{experience.company_name}} <br> Employed as : {{experience.employement_type}}</h5>
                                       <!-- <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button> 
                                       <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button> -->

                                   </div>
                                       <div class="card-body">

                                   <p>{{experience.description}} </p>

                                   <!-- <p>{{edu.grade}}</p>
                                   <p>{{edu.description}}</p> -->
                                
                               </div>
                           </div>
                               </li>
                            {% endfor %}
                        </ul>
                        
                        {% endif %}
                        
                       
                       
                        
                        {% if projects %}
                        <h5 class="mb-3 mt-4 text-uppercase"><i class="mdi mdi-cards-variant mr-1"></i>
                            Projects</h5> <span style="display:inline"> 
                                <button type='submit' class="ui positive button">
                                Add    Project
                              </button>
                            </span>
                              <div class="table-responsive">
                                <table class="table table-borderless mb-0">
                                    <thead class="thead-light">
                                        <tr>
                                            
                                            <th>Project Name</th>
                                            <th>Start Date</th>
                                            <th>Due Date</th>
                                            <th>Status</th>
                                            <th>Mentor</th>
                                            <th>Description</th>
                                            <!-- <th></th>
                                            <th></th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for project in projects %}
                                        <tr>
                                           
                                            <td>{{project.title}}</td>
                                            <td>{{project.start_date}}</td>
                                            <td>{{project.end_date}}</td>
                                            <td><span class="badge badge-info">{{project.status}}</span></td>
                                            <td>{{project.mentor}}</td>
                                            <td>{{project.description}}</td>
                                            <!-- <td >
                                                <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>                                            </td>
                                            <td >
                                                <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                                            </td> -->
                                        </tr>
                                        {% endfor %}
                                        
                                        
                                    </tbody>
                                </table>
                            </div>

                        {% else %}
                        <h5 class="mb-3 mt-4 text-uppercase"><i class="mdi mdi-cards-variant mr-1"></i>
                            Projects</h5> <span style="display:inline"> <button type='submit' class="ui positive button">
                                Add Project
                              </button></span>
                        {% endif %}
                        
                    </div>
                    <!-- end timeline content-->

                    <div class="tab-pane" id="profile_pane">
                     
                        <form action="" method="POST" class="ui form" enctype='multipart/form-data'>
                            {% csrf_token %}
                            {{form_profile.as_p}}
                        <button type='submit' class="ui positive right labeled icon button"  name="profile_submit">
                          Update 
                          <i class="checkmark icon"></i>
                        </button>
                        </form>

                    </div>
                    <div class="tab-pane" id="change_pane">
                        <!-- <form method="POST" action="">
                            {% csrf_token %}
                         
                
                        <div class="ui large form">
                            <div class="two fields">
                              <div class="field">
                                <label>Skill name</label>
                                <input placeholder="Skill name" type="text">
                              </div>
                              <div class="field">
                                <label>Proficiency</label>
                                <input placeholder="Proficiency" type="number" min="1" max="100">
                              </div>
                            </div>
                          </div>
                        
                        <button type='submit' class="ui positive right labeled icon button"  name="skill_submit"></button>
                        
                    </form> -->
                    
                    <form  method="POST" action="">
                        {% csrf_token %}
                        <h1 class="h3 mb-3 font-weight-normal">Update your skills </h1>
                        {% for form in skill_form %}
                        <div class="card">
                            <div class="card-body pl-5 pr-5">
                                <div class="form-row">
                                    <!-- <div class="form-group col-md-6">
                                        <label for="Skill Name" >Skill Name</label>
                                        <input type="text" value={{skill.title}} id="skillname" class="form-control" name="skillname" placeholder="Enter Skill Name" required
                                            autofocus>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="proficiency">Proficiency</label>
                                        <input type="number"  min="1" max="100" value={{skill.proficiency}} id="proficiency" class="form-control" name="proficiency" placeholder="Enter Proficiency" required>
                                    </div> -->
                                    {{form}}
                                </div>
                            </div>
                        </div>
                        

                        {% endfor %}
                        <button class="btn btn btn-primary btn-block" name="skill_modilfy_submit" type="submit">Submit</button>

                    </form>
                    
<!-- 

                    <form  method="POST" action="">
                        {% csrf_token %}
                        <h1 class="h3 mb-3 font-weight-normal">Update your language </h1>
                        {% for language in languages %}
                        <div class="card">
                            <div class="card-body pl-5 pr-5">

                                <div class="form-row">
                                        <tr><th><label for="id_language_name">Language name:</label></th><td><input type="text" name="language_name" value={{language.language_name}} maxlength="250" required id="id_language_name"></td></tr>
        
                                        <tr><th><label for="id_proficiency" value={{language.language_name}}>Proficiency:</label></th><td>
                                        <select name="proficiency" selected id="id_proficiency">
                                        <option value="Elementary-proficiency" {%if language.proficiency == "Elementary-proficiency" %} selected {% endif %}>Elementary proficiency</option>

                                        <option value="Limited-working-proficiency" {%if language.proficiency == "Limited-working-proficiency" %} selected {% endif %}>Limited working proficiency</option>

                                        <option value="Professional-working-proficiency"  {%if language.proficiency == "Professional-working-proficiency" %} selected {% endif %} >Professional working proficiency</option>

                                        <option value="Full-professional-proficiency" {%if language.proficiency == "Full-professional-proficiency" %} selected {% endif %}>Full professional proficiency</option>

                                        <option value="Native-or-bilingual-proficiency" {%if language.proficiency == "Native-or-bilingual-proficiency" %} selected {% endif %} >Native or bilingual proficiency</option>                              
                                        </select>
                                        </td></tr>
                                    </div>  
                              </div> 
                            </div>
                        </div>
                  
                     
                        {% endfor %}
                        <button class="btn btn btn-primary btn-block" name="language_modilfy_submit" type="submit">Submit</button>

                    </form  > -->
                   
                    <!-- <form method="POST" action="">
                        {% csrf_token %}
                        <h1 class="h3 mb-3 font-weight-normal">Update your experiences </h1>
                        {% for experience in experiences %}
                        <div class="card">
                        <div class="card-body pl-5 pr-5">

                            <div class="form-row">
                        <tr><th><label for="id_title">Title:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="text" name="title" maxlength="250" required id="id_title" value={{experience.title}}></td></tr>
                        <tr><th><label for="id_employement_type">Employement type:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><select name="employement_type" required id="id_employement_type">

                          <option value="Full-time" {%if experience.employement_type == "Full-time" %} selected {% endif %}>Full-time</option>

                          <option value="Part-time"  {%if experience.employement_type == "Part-time" %} selected {% endif %}>Part-time</option>

                          <option value="Self-employed" {%if experience.employement_type == "Self-employed" %} selected {% endif %}>Self-employed</option>

                          <option value="Freelance"  {%if experience.employement_type == "Freelance" %} selected {% endif %}>Freelance</option>

                          <option value="Internship"  {%if experience.employement_type == "Internship" %} selected {% endif %}>Internship</option>

                        </select></td></tr>
                        <tr><th><label for="id_company_name">Company name:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="text" value={{experience.company_name}} name="company_name" maxlength="250" required id="id_company_name"></td></tr>
                        <tr><th><label for="id_description">Description:</label></th><td><input type="text" value={{experience.description}} name="description" maxlength="2500" id="id_description"></td></tr>
                        <tr><th><label for="id_start_date">Start date:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="date" value={{experience.start_date}} name="start_date" required id="id_start_date"></td></tr>
                        <tr><th><label for="id_end_date">End date: </label></th><td><ul class="errorlist"><li>Leave empty if current job</li></ul><input type="date"  value={{experience.end_date}} name="end_date"  id="id_end_date"></td></tr>
                        

                            <input type="checkbox" {% if experience.is_current == True %} checked {% endif %}  name="is_current"   id="id_is_current"> 
  
                            </div>  
                              </div> 
                            </div>
                        </div>
                    {% endfor %}
                    <button class="btn btn btn-primary btn-block" name="experience_modify_submit" type="submit">Submit</button>

                    </form> -->
<!-- 

                    <form method="POST" action="">
                        {% csrf_token %}
                        <h1 class="h3 mb-3 font-weight-normal">Update your education details </h1>
                        {% for education in educations %}
                        <div class="card">
                        <div class="card-body pl-5 pr-5">

                            <div class="form-row">

                    <tr><th><label for="id_school">School:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="text" {% if education.school %} value={{education.school}} {% endif %} name="school" maxlength="250" required id="id_school"></td></tr>
                    <tr><th><label for="id_degree">Degree:</label></th><td><input type="text" name="degree" maxlength="250" id="id_degree" {% if education.degree %}   value={{education.degree}} {% endif %} ></td></tr>
                    <tr><th><label for="id_field">Field:</label></th><td><input type="text"  {% if education.field %}  value={{education.field}}  {% endif %} name="field" maxlength="250" id="id_field"></td></tr>
                    <tr><th><label for="id_start_date">Start date:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="date" name="start_date" value={{education.start_date}} required id="id_start_date"></td></tr>
                    <tr><th><label for="id_end_date_expected">End date expected:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="date" name="end_date_expected" value={{education.end_date_expected}} required id="id_end_date_expected"></td></tr>
                    <tr><th><label for="id_grade">Grade:</label></th><td><input type="text" name="grade" {% if education.grade %}  value={{education.grade}}  {% endif %}  maxlength="250" id="id_grade"></td></tr>
                    <tr><th><label for="id_description">Description:</label></th><td><input type="text"  {% if education.description %}  value={{education.description}} {% endif %} name="description" maxlength="2500" id="id_description"></td></tr>
                    </div>  
                          </div>
                            </div>
                        </div>
                    {% endfor %}
                    <button class="btn btn btn-primary btn-block" name="education_modilfy_submit" type="submit">Submit</button>

                </form> -->
                <form method="POST" action="">
                  {% csrf_token %}
                     <h1 class="h3 mb-3 font-weight-normal">Update your Experience </h1>
                     {% for form in experience_form %}
                     <div class="card">
                     <div class="card-body pl-5 pr-5">

                         <div class="form-row">
                        {{form}}

                      </div>  
                                  <!-- </div> -->
                                  </div>
                              </div>
                    {% endfor %}
                    <button class="btn btn btn-primary btn-block" name="experience_modilfy_submit" type="submit">Submit</button>

                </form>

                <form method="POST" action="">
                  {% csrf_token %}
                     <h1 class="h3 mb-3 font-weight-normal">Update your language </h1>
                     {% for form in language_form %}
                     <div class="card">
                     <div class="card-body pl-5 pr-5">

                         <div class="form-row">
                        {{form}}

                      </div>  
                                  <!-- </div> -->
                                  </div>
                              </div>
                    {% endfor %}
                    <button class="btn btn btn-primary btn-block" name="language_modilfy_submit" type="submit">Submit</button>

                </form>
                <form method="POST" action="">
                  {% csrf_token %}
                     <h1 class="h3 mb-3 font-weight-normal">Update your Education </h1>
                     {% for form_ in education_form %}
                     <div class="card">
                     <div class="card-body pl-5 pr-5">

                         <div class="form-row">
                        {{form_}}

                      </div>  
                                  <!-- </div> -->
                                  </div>
                              </div>
                    {% endfor %}
                    <button class="btn btn btn-primary btn-block" name="education_modilfy_submit" type="submit">Submit</button>

                </form>
                

                
                <form method="POST" action="">
                  {% csrf_token %}
                     <h1 class="h3 mb-3 font-weight-normal">Update your Projects </h1>
                     {% for form in project_form %}
                     <div class="card">
                     <div class="card-body pl-5 pr-5">

                         <div class="form-row">
                        {{form}}
              
                      </div>  
                                  <!-- </div> -->
                                  </div>
                              </div>
                    {% endfor %}
                    <button class="btn btn btn-primary btn-block" name="project_modilfy_submit" type="submit">Submit</button>

                </form>


                    </div>
                    <!-- end skill_pane content-->

                </div> <!-- end tab-content -->
            </div> <!-- end card-box-->

        
        </div> <!-- end col -->
    </div>
</div>

<style type="text/css">
    /* body {
      font-family: 'Nunito', sans-serif;
      color: #384047;
    } */

    form {
      /* max-width: 300px; */
      margin: 10px auto;
      padding: 10px 20px;
      background: #f4f7f8;
      border-radius: 8px;
    }

    h1 {
      margin: 0 0 30px 0;
      text-align: center;
    }

    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea,
    select {
      background: rgba(255,255,255,0.1);
      border: none;
      font-size: 14px;
      height: auto;
      margin: 0;
      outline: 0;
      padding: 10px;
      width: 100%;
      background-color: #e8eeef;
      color: #8a97a0;
      box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
      margin-bottom: 10px;
    }

    input[type="radio"],
    input[type="checkbox"] {
      margin: 0 4px 8px 0;
    }

    select {
      padding: 6px;
      /* height: 32px; */
      border-radius: 2px;
    }

    .button_form {
      padding: 19px 39px 18px 39px;
      color: #FFF;
      background-color: #4bc970;
      font-size: 18px;
      text-align: center;
      font-style: normal;
      border-radius: 5px;
      width: 100%;
      border: 1px solid #3ac162;
      border-width: 1px 1px 3px;
      box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
      margin-bottom: 10px;
    }

    fieldset {
      margin-bottom: 30px;
      border: none;
    }

    legend {
      font-size: 1.4em;
      margin-bottom: 10px;
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    label.light {
      font-weight: 300;
      display: inline;
    }

    .number {
      background-color: #5fcf80;
      color: #fff;
      height: 30px;
      width: 30px;
      display: inline-block;
      font-size: 0.8em;
      margin-right: 4px;
      line-height: 30px;
      text-align: center;
      text-shadow: 0 1px 0 rgba(255,255,255,0.2);
      border-radius: 100%;
    }
    body {
        color: #6c757d;
        background-color: #f5f6f8;
        margin-top: 20px;
    }

    .card-box {
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #e7eaed;
        padding: 1.5rem;
        margin-bottom: 24px;
        border-radius: .25rem;
    }

    .avatar-xl {
        height: 6rem;
        width: 6rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: #fff;
        background-color: #1abc9c;
    }

    .nav-pills .nav-link {
        border-radius: .25rem;
    }

    .navtab-bg li>a {
        background-color: #f7f7f7;
        margin: 0 5px;
    }

    .nav-pills>li>a,
    .nav-tabs>li>a {
        color: #6c757d;
        font-weight: 600;
    }

    .mb-4,
    .my-4 {
        margin-bottom: 2.25rem !important;
    }

    .tab-content {
        padding: 20px 0 0 0;
    }

    .progress-sm {
        height: 5px;
    }
    .progress-lg {
        height: 30px;
    }
    .m-0 {
        margin: 0 !important;
    }

    .table .thead-light th {
        color: #6c757d;
        background-color: #f1f5f7;
        border-color: #dee2e6;
    }

    .social-list-item {
        height: 2rem;
        width: 2rem;
        line-height: calc(2rem - 4px);
        display: block;
        border: 2px solid #adb5bd;
        border-radius: 50%;
        color: #adb5bd;
    }

    .text-purple {
        color: #6559cc !important;
    }

    .border-purple {
        border-color: #6559cc !important;
    }

    .timeline {
        margin-bottom: 50px;
        position: relative;
    }

    .timeline:before {
        background-color: #dee2e6;
        bottom: 0;
        content: "";
        left: 50%;
        position: absolute;
        top: 30px;
        width: 2px;
        z-index: 0;
    }

    .timeline .time-show {
        margin-bottom: 30px;
        margin-top: 30px;
        position: relative;
    }

    .timeline .timeline-box {
        background: #fff;
        display: block;
        margin: 15px 0;
        position: relative;
        padding: 20px;
    }

    .timeline .timeline-album {
        margin-top: 12px;
    }

    .timeline .timeline-album a {
        display: inline-block;
        margin-right: 5px;
    }

    .timeline .timeline-album img {
        height: 36px;
        width: auto;
        border-radius: 3px;
    }

    @media (min-width: 768px) {
        .timeline .time-show {
            margin-right: -69px;
            text-align: right;
        }

        .timeline .timeline-box {
            margin-left: 45px;
        }

        .timeline .timeline-icon {
            background: #dee2e6;
            border-radius: 50%;
            display: block;
            height: 20px;
            left: -54px;
            margin-top: -10px;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 20px;
        }

        .timeline .timeline-icon i {
            color: #98a6ad;
            font-size: 13px;
            position: absolute;
            left: 4px;
        }

        .timeline .timeline-desk {
            display: table-cell;
            vertical-align: top;
            width: 50%;
        }

        .timeline-item {
            display: table-row;
        }

        .timeline-item:before {
            content: "";
            display: block;
            width: 50%;
        }

        .timeline-item .timeline-desk .arrow {
            border-bottom: 12px solid transparent;
            border-right: 12px solid #fff !important;
            border-top: 12px solid transparent;
            display: block;
            height: 0;
            left: -12px;
            margin-top: -12px;
            position: absolute;
            top: 50%;
            width: 0;
        }

        .timeline-item.timeline-item-left:after {
            content: "";
            display: block;
            width: 50%;
        }

        .timeline-item.timeline-item-left .timeline-desk .arrow-alt {
            border-bottom: 12px solid transparent;
            border-left: 12px solid #fff !important;
            border-top: 12px solid transparent;
            display: block;
            height: 0;
            left: auto;
            margin-top: -12px;
            position: absolute;
            right: -12px;
            top: 50%;
            width: 0;
        }

        .timeline-item.timeline-item-left .timeline-desk .album {
            float: right;
            margin-top: 20px;
        }

        .timeline-item.timeline-item-left .timeline-desk .album a {
            float: right;
            margin-left: 5px;
        }

        .timeline-item.timeline-item-left .timeline-icon {
            left: auto;
            right: -56px;
        }

        .timeline-item.timeline-item-left:before {
            display: none;
        }

        .timeline-item.timeline-item-left .timeline-box {
            margin-right: 45px;
            margin-left: 0;
            text-align: right;
        }
    }

    @media (max-width: 767.98px) {
        .timeline .time-show {
            text-align: center;
            position: relative;
        }

        .timeline .timeline-icon {
            display: none;
        }
    }

    .timeline-sm {
        padding-left: 110px;
    }

    .timeline-sm .timeline-sm-item {
        position: relative;
        padding-bottom: 20px;
        padding-left: 40px;
        border-left: 2px solid #dee2e6;
    }

    .timeline-sm .timeline-sm-item:after {
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        left: -7px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #fff;
        border: 2px solid #1abc9c;
    }

    .timeline-sm .timeline-sm-item .timeline-sm-date {
        position: absolute;
        left: -104px;
    }

    @media (max-width: 420px) {
        .timeline-sm {
            padding-left: 0;
        }

        .timeline-sm .timeline-sm-date {
            position: relative !important;
            display: block;
            left: 0 !important;
            margin-bottom: 10px;
        }
    }
</style>

<script type="text/javascript">

</script>
{% endblock content %}
















